@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  background-color: #242424;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-drag_c {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.svg-white_c {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(355deg) brightness(104%) contrast(103%);
}
